/* line 34, ../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/../behaviors/box-sizing/boxsizing.php');
}

/* line 36, ../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/../behaviors/box-sizing/boxsizing.php');
}

/* line 4, ../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 3, ../sass/style.scss */
body {
  -moz-transition: all, 220ms, ease-in-out, 0s 1s;
  -o-transition: all, 220ms, ease-in-out, 0s 1s;
  -webkit-transition: all, 220ms, ease-in-out, 0s 1s;
  transition: all 220ms ease-in-out 0s 1s;
}

/* line 7, ../sass/style.scss */
.rectangle {
  border: 2px solid black;
  font-size: 16pt;
  text-align: center;
  padding: .5em;
  margin-bottom: 1.5%;
}

/* Default settings in case javascript is not turned on */
/* line 16, ../sass/style.scss */
h1, h3, .inner-div p {
  height: 250px;
  overflow: scroll;
}

/* line 21, ../sass/style.scss */
h1, h3 {
  margin-bottom: 20px;
}

/* line 25, ../sass/style.scss */
.rectangle-1 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 25, ../sass/style.scss */
  .rectangle-1 {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 25, ../sass/style.scss */
  .rectangle-1 {
    width: 31.69203%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 25, ../sass/style.scss */
  .rectangle-1 {
    width: 23.41598%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 25, ../sass/style.scss */
  .rectangle-1 {
    width: 19.48052%;
    float: left;
    margin-right: -100%;
    margin-left: 35.38961%;
    clear: none;
  }
}

/* line 42, ../sass/style.scss */
.rectangle-2 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 42, ../sass/style.scss */
  .rectangle-2 {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 42, ../sass/style.scss */
  .rectangle-2 {
    width: 67.94987%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 42, ../sass/style.scss */
  .rectangle-2 {
    width: 48.48485%;
    float: left;
    margin-right: -100%;
    margin-left: 27.82369%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 42, ../sass/style.scss */
  .rectangle-2 {
    width: 16.23377%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

/* line 59, ../sass/style.scss */
.rectangle-3 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 59, ../sass/style.scss */
  .rectangle-3 {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: both;
  }
}
@media (min-width: 700px) {
  /* line 59, ../sass/style.scss */
  .rectangle-3 {
    width: 69.65085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
@media (min-width: 900px) {
  /* line 59, ../sass/style.scss */
  .rectangle-3 {
    width: 27.54821%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 59, ../sass/style.scss */
  .rectangle-3 {
    width: 22.72727%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 76, ../sass/style.scss */
.rectangle-4 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 76, ../sass/style.scss */
  .rectangle-4 {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 76, ../sass/style.scss */
  .rectangle-4 {
    width: 29.99105%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 76, ../sass/style.scss */
  .rectangle-4 {
    width: 72.17631%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* line 76, ../sass/style.scss */
  .rectangle-4 {
    width: 17.85714%;
    float: left;
    margin-right: -100%;
    margin-left: 16.88312%;
    clear: none;
  }
}

/* line 93, ../sass/style.scss */
.rectangle-5 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 93, ../sass/style.scss */
  .rectangle-5 {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 93, ../sass/style.scss */
  .rectangle-5 {
    width: 31.69203%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 93, ../sass/style.scss */
  .rectangle-5 {
    width: 27.54821%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* line 93, ../sass/style.scss */
  .rectangle-5 {
    width: 21.1039%;
    float: left;
    margin-right: -100%;
    margin-left: 55.51948%;
    clear: none;
  }
}

/* line 110, ../sass/style.scss */
.rectangle-6 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: red;
}
@media (min-width: 560px) {
  /* line 110, ../sass/style.scss */
  .rectangle-6 {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 110, ../sass/style.scss */
  .rectangle-6 {
    width: 67.94987%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 110, ../sass/style.scss */
  .rectangle-6 {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 110, ../sass/style.scss */
  .rectangle-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}

/* line 127, ../sass/style.scss */
.rectangle-7 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: blue;
}
@media (min-width: 560px) {
  /* line 127, ../sass/style.scss */
  .rectangle-7 {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 127, ../sass/style.scss */
  .rectangle-7 {
    width: 69.65085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
@media (min-width: 900px) {
  /* line 127, ../sass/style.scss */
  .rectangle-7 {
    width: 72.17631%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/style.scss */
  .rectangle-7 {
    width: 19.48052%;
    float: left;
    margin-right: -100%;
    margin-left: 45.12987%;
    clear: both;
  }
}

/* line 144, ../sass/style.scss */
.rectangle-8 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: green;
}
@media (min-width: 560px) {
  /* line 144, ../sass/style.scss */
  .rectangle-8 {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 144, ../sass/style.scss */
  .rectangle-8 {
    width: 29.99105%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 144, ../sass/style.scss */
  .rectangle-8 {
    width: 27.54821%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* line 144, ../sass/style.scss */
  .rectangle-8 {
    width: 17.85714%;
    float: left;
    margin-right: -100%;
    margin-left: 65.25974%;
    clear: none;
  }
}

/* line 161, ../sass/style.scss */
.rectangle-9 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: yellow;
}
@media (min-width: 560px) {
  /* line 161, ../sass/style.scss */
  .rectangle-9 {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 161, ../sass/style.scss */
  .rectangle-9 {
    width: 31.69203%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 161, ../sass/style.scss */
  .rectangle-9 {
    width: 37.46556%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* line 161, ../sass/style.scss */
  .rectangle-9 {
    width: 21.1039%;
    float: left;
    margin-right: -100%;
    margin-left: 23.37662%;
    clear: none;
  }
}

/* line 178, ../sass/style.scss */
.rectangle-10 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: purple;
}
@media (min-width: 560px) {
  /* line 178, ../sass/style.scss */
  .rectangle-10 {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }
}
@media (min-width: 700px) {
  /* line 178, ../sass/style.scss */
  .rectangle-10 {
    width: 67.94987%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 178, ../sass/style.scss */
  .rectangle-10 {
    width: 27.54821%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 178, ../sass/style.scss */
  .rectangle-10 {
    width: 16.23377%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 195, ../sass/style.scss */
.rectangle-11 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: white;
}
@media (min-width: 700px) {
  /* line 195, ../sass/style.scss */
  .rectangle-11 {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 195, ../sass/style.scss */
  .rectangle-11 {
    width: 34.43526%;
    float: left;
    margin-right: -100%;
    margin-left: 27.82369%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 195, ../sass/style.scss */
  .rectangle-11 {
    width: 22.72727%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
